.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 80px;
}

.qrcode{
  width: 25rem;
  height: 20rem;
}

.content {
  display: flex;
  height: 366px;
  display: flex;
  flex-direction: column;
}

.content h1 {
  /* Headline-40 */
  font-family: Space Grotesk;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 52px */
  text-transform: uppercase;

  background: var(--linear, linear-gradient(90deg, #000000 0%, #185a0f 51.04%, #000000 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 350px;
  margin-bottom: 5rem;
}

.text {
  color: var(--gray-light, #121f11);

  /* Headline-20 */
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 32px */
  text-transform: uppercase;
}

/* .qrcode{
  width: 100%;
  height: 30%;
} */

.ticket {
  display: flex;
  align-items: center;
  position: relative;
  background-image: url('/bg-card-ticket.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 694px;
  height: 408.64px;
  flex-direction: column;
}

@media (max-width: 450px ) {


  .container {
    /* margin-top: 5rem; */
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 100vh;
  }


  .Conteudocontent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Conteudocontent h1{ 
    padding: 2rem;
    font-family: Space Grotesk;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 52px */
    text-transform: uppercase;
  
    background: var(--linear, linear-gradient(90deg, #000000 0%, #185a0f 51.04%, #000000 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 400px;
  }


  .content {
    margin: 0.5rem;
    display: flex; 
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 16px;
  }


  .ticket {
    display: flex;
    background-image: url('/bg-card-ticket.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: 25rem;
    height: auto;
    flex-direction: column;
  }
  
  .ticket{
    padding: 2rem;
  }

}
